* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url("black-gradient.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

#title {
  display: grid;
  grid-row: 1;
  grid-column: 2;
  font-size: 2.5em;
  font-weight: bolder;
  color: #df0505;
  justify-items: start;
  align-items: end;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  margin-right: 20px;
  margin-top: 40px;
  color: #df0505;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: .05rem;
  border-bottom: 1px solid #df0505;
  grid-area: 1 / 10 / span 1 / span 3;
}

.nav a {
  color: #df0505;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.nav a:hover {
  background-color: rgb(160, 47, 47);
  border-color: #df0505;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  font-weight: bolder;
  text-align: center;
  color: rgb(252, 193, 84);
  box-shadow: 6px 6px 13px red;
}

#myGreet {
  display: grid;
  grid-row: 5;
  grid-column: 2;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  color: #df0505;
}

#myName {
  display: grid;
  grid-row: 6;
  grid-column: 2 / span 3;
  align-items: center;
  font-size: 3em;
  color: aliceblue;
}

#myExp {
  display: grid;
  grid-row: 7;
  grid-column: 2 / span 4;
  align-items: center;
  color: aliceblue;
  font-size: 1vw;
}

.btn {
  background-color: rgb(58, 55, 52);
  color: aliceblue;
  border-style: 1px solid #e6d6d6;
  border-color: aliceblue;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: .1rem;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
}

.btn:hover {
  background-color: rgb(160, 47, 47);
  border-color: #df0505;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  font-weight: bolder;
  letter-spacing: .1rem;
  text-align: center;
  color: rgb(252, 193, 84);
  box-shadow: 6px 6px 13px red;
}

#btn1 {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-row: 8;
  grid-column: 2;
}

#btn2 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row: 8;
  grid-column: 3;
}

#gridArea {
  grid-area: 3 / 7 / span 10 / span 4;
}