* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(148, 148, 97);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.box {
  background-color: aqua;
}

#title {
  display: grid;
  grid-row: 1;
  grid-column: 1;
  background-color: rgb(222, 230, 201);
  font-size: 2em;
  font-weight: bolder;
  color: #df0505;
  justify-items: end;
  align-items: end;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  margin-right: 20px;
  margin-top: 40px;
  color: #df0505;
}

.nav {
  background-color: rgb(222, 230, 201);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  border-bottom: 1px solid #ccc;
  grid-area: 1 / 10 / span 1 / span 3;
}

.nav a {
  color: #df0505;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.nav a:hover {
  border-color: #df0505;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  font-weight: bolder;
  background-color: rgb(160, 47, 47);
  text-align: center;
  color: rgb(252, 193, 84);
  box-shadow: 6px 6px 13px red;
}

#myGreet {
  display: grid;
  grid-row: 5;
  grid-column: 2;
  align-items: center;
  font-size: 2em;
  background-color: rgb(222, 230, 201);
  color: #df0505;
}

#myName {
  display: grid;
  grid-row: 6;
  grid-column: 2 / span 3;
  align-items: center;
  font-size: 3em;
  background-color: rgb(15, 15, 15);
  color: aliceblue;
}

#myExp {
  display: grid;
  grid-row: 7;
  grid-column: 2 / span 4;
  align-items: center;
  background-color: rgb(222, 230, 201);
}

#gridArea {
  grid-area: 3 / 7 / span 10 / span 6;
}